*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "roguehero";
    src: url(../fonts/roguehero.ttf);
}

html{
    scroll-behavior: smooth;
}

h2{
    font-family: "roguehero"
}

                        /* HEADER */

header{
    height: 80vh;
    background-image: url(../img/deadpoolFond.jpg);
    background-size: cover;
    position: relative;
}

.ImgLogo{
    width: 30px;
}

nav{
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0px;
    padding:10px 0;
}

#TabMob{
    display: none;
}

.lienNav{
    color: rgb(150, 10, 10);
    text-decoration: none;
    font-family: "roguehero";
}

.lienNav:hover{
    color: white;
}

h3{
    color: rgb(150, 10, 10);
    text-align: center;
    font-family: "roguehero"
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* MAIN */

img{
    width: 100%;
}

.margeh2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    padding: 5px;
    background-color: rgb(150, 10, 10);
}

/* SYNOPSIS */

.section1{
    width: 80%;
    margin: 10px auto;
}

.article1{
    display: flex;
    width: 100%;
    margin: 10px auto;
    align-items: center;
    gap: 10px;
}

#paddH3Synop{
    margin-bottom: 30px;
}

/* LES PERSONNAGES */

iframe{
    width: 100%;
    margin-bottom: 20px;
}


.section2{
    width: 80%;
    margin: auto;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.margeh3{
    margin: 15px 0px;
}

/* BONUS */

/* FUNKO POP */

    .section3{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    }

    /* COMICS */

.section4{
    width: 100%;
    display: flex;
    background-color: rgb(139, 117, 10);
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding: 30px 0;
}

.lienComics{
    background-color: white;
    border-radius: 100px;
    color: rgb(150, 10, 10);
    text-decoration: none;
    display: block;
    width: 80%;
    margin: auto;
    font-family: "roguehero";
    padding: 10px;
    text-align: center;
}

.sizeDivComics{
    width: 13%;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 0;
    align-items: center;
}

#H2Footer{
    color: rgb(150, 10, 10);
}

.logoFooter{
    width: 3%;
}

.imgFooter{
    width: 12%;
}